---
import GitHub from "./icons/GitHub.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Titleh2 from "./Titleh2.astro";

import { TAGS } from "./Tags.astro"

const PROJECTS = [
  {
    title: "Inveico - Un inventario moderno",
    description:
      "Un inventario hecho desde cero con gran robustez e implementacion de buenas prácticas con MVC.",
    link: "",
    github: "https://github.com/Dalencco/inveicov1",
    image: "/img/projects/inveico.webp",
    tags: [TAGS.PHP, TAGS.TAILWIND, TAGS.ALPINE, TAGS.MVC, TAGS.MYSQL],
  },
  {
    title: "Anuario del EICO - Egresados 2023",
    description:
      "Anuario del instituto para los egresados en el año 2023, hecho con PHP, MySQL, y TailwindCSS",
    link: "",
    github:"https://github.com/Fairebol/eiconuario",
    image: "/img/projects/anuario.webp",
    tags: [TAGS.PHP, TAGS.TAILWIND, TAGS.MVC, TAGS.MYSQL],
  },
]
---
<div class="w-full mx-auto h-1/2 px-4">
    <section class="w-full mx-auto container gap-y-6 my-[15%] md:my-[5%] md:max-w-5xl"> 
        
        <Titleh2 name="Proyectos"
            size="size-8"
            id="projects">
            <svg xmlns="http://www.w3.org/2000/svg" class="size-9 icon icon-tabler icon-tabler-code-dots" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 12h.01" /><path d="M12 12h.01" /><path d="M9 12h.01" /><path d="M6 19a2 2 0 0 1 -2 -2v-4l-1 -1l1 -1v-4a2 2 0 0 1 2 -2" /><path d="M18 19a2 2 0 0 0 2 -2v-4l1 -1l-1 -1v-4a2 2 0 0 0 -2 -2" /></svg>
        </Titleh2>
        
        <div class="flex flex-col gap-y-16 items-center justify-center">
            {
            PROJECTS.map(({ image, title, description, tags, link, github }) => (
            <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
            <div class="w-full md:w-2/4">
            <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                <img alt="Projecto" class="object-cover object-top w-full h-56" loading="lazy" src={image} />
            </div>
            </div>
        
            <div class="w-full md:w-full md:max-w-xl">
            <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                {title}
            </h3>
            <div class="flex flex-wrap mt-2">
                <ul class="flex flex-row mb-2 gap-x-2">
                    {tags.map((tag) => (
                    <li>
                        <span
                        class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                        >
                        <tag.icon class="size-4" />
                        {tag.name}
                        </span>
                    </li>
                    ))}
                </ul>
        
                <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
                <footer class="flex items-end justify-start mt-4 gap-x-4">
                    {github && (
                    <LinkButton href={github}>
                        <GitHub class="size-6" />
                        Code
                        
                    </LinkButton>
                    )}
                    {link && (
                    <LinkButton href={link}>
                        <Link class="size-4" />
                        Preview
                    </LinkButton>
                    )}
                </footer>
            </div>
            </div>
        </article>
            ))
            }
        </div>
    </section>
</div>